{% extends "base.html" %}

{% block title %}Coordinators{% endblock %}

{% block style %}
    <style>
        body {
            background-color: rgb(37, 36, 36);
            margin: 0;
            padding: 0;
        }
        .container {
            width: calc(50% - 120px);
            margin: 35px; 
            padding: 20px;
            background-color: rgb(0, 0, 0);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block; 
            vertical-align: top;
        }

        h2 {
            font-family: Arial;
            font-size: medium;
            color: white;
            font-weight: normal;
        }

        .button {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #2a2a2a;
            box-shadow: 0 0 10px rgba(21, 20, 20, 0.5);
            
        }

        @media screen and (min-height: 1000px) {
        body {
            background-position-y: 100%;
        }
    }
    </style>
{% endblock %}

{% block content %}
{% for index, coord in coord_list|enumerate %}
    <div class="container">
        <form method="POST" action="/delete_account/{{ coord[0] }}">
            <div class="button-container">
                <button type="submit" class="button">Delete Coordinator</button>
            </div>
        </form>
        <h2> <strong>ID:</strong> {{ coord[0] }}</h2>
        <h2> <strong>Full Name:</strong> {{ coord[1] }}</h2>
        <h2> <strong>Club:</strong> {{ coord[2] }}</h2>
        <h2> <strong>Club ID:</strong> {{ coord[3] }}</h2>
        <h2><strong>Account Created:</strong> {{ coord[6] }}</h2>
        </form>
    </div>
{% endfor %}
{% endblock %}