{% extends "base.html" %}

{% block title %}Unsuccessful Registration{% endblock %}

{% block style %}
<style>
    body {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .container {
        text-align: center;
        color: white;
    }
    .return-button {
        background-color: crimson;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }
    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(66, 66, 66);
        padding: 10px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>ERROR: You have already registered for this event!</h2>
        <button class="return-button" onclick="window.location.href = 'view_events';">Return</button>
    </div>
{% endblock %}
